@import "./reset.css";

/* Body and Main elements */
.container {
    width: min(100% - 30px, 1280px);
    margin-inline: auto;
}

body {
    background: #1a1d28;
}

html {
    scroll-behavior: smooth;
}

main {
    position: relative;
    display: grid;
    place-items: center;
}

.loading-img {
    position: absolute;
    width: 50px;
    height: 50px;
    border-top: 5px solid #fff;
    border-right: 5px solid #fff;
    border-left: 5px solid #fff;
    border-bottom: 5px solid #1a1d28;
    border-radius: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { rotate: 0deg;}
    25% { rotate: 90deg;}
    50% { rotate: 180deg;}
    75% { rotate: 270deg;}
    100% { rotate: 360deg;}
}

#map {
    height: 100vh;
    width: 100vw;
    z-index: 999;
}